header.header
  .container
    .row
      .column
        .logotype
          span.logotype__text Kr
          span.logotype__descr Завод-производитель инсинераторов с увеличенной гарантией
      .column
        .phones
          a(href="#").phone +7 (950) 832-93-88
          a(href="#").phone +7 (3412) 640-612
    .row
      .column.s_advantage
        h1.s_advantage__title Оборудование для утилизации отходов с гарантией и доставкой от производителя по низкой цене
        .advantages
          p.advantage Доставка по России от <span class="orange">5 дней</span>
          p.advantage <span class="orange">Инсинераторы и крематоры</span> различной мощности
        a.button.button--link Перейти к каталогу
        a.link Узнать больше
      .column.s_advantage__images
        img(src="static/images/general/header_img_transparent.png", alt="").s_advantage__image
        img(src="static/images/general/header_img.png", alt="").s_advantage__image


