include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="description", content="Купить надёжные инсинераторы для утилизации отходов по низкой цене напрямую от производителя с доставкой и увеличенной гарантией. Жмите!")
		meta(name="keywords" content="Инсинератор для утилизации отходов и кремации животных, крематор для животных, инсинераторная установка ин 50 для сжигания медицинских отходов")
		
		meta(name="format-detection" content="telephone=no")

		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")

		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->
	body
		.wrapper
			include ../modules/header/header
			.content
				block content
			include ../modules/footer/footer
		script(src="static/js/jquery-3.3.1.min.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")
		block script
