extends template/main

block variables
	- var title = 'Главная страница'

block content
	section.s_description#s_desription
		.container
			.row
				.column
					h2.title Что такое инсинератор?
					p.descr.descr--border Это специальная печь определённого объёма загрузки с камерой сжигания мусора, твёрдых материалов, с безопасной технологией использования, с очисткой отходящих газов в процессе сгорания. Производством качественных современных моделей оборудования для термической утилизации, сжигания и уничтожения тбо и мусора занимаются специалисты нашего предприятия, используются современные промышленные технологии, качественные металлы и специальные автоматические горелки. Конструкция инсинератора для утилизации и сжигания отходов позволяет производить полную очистку установки после эксплуатации.
					h2.title Что такое крематоры?
					p.descr.descr--border Печи крематоры используются для сжигания и термической утилизации падежа животных, биологических, органических, ветеринарных отходов на животноводческих предприятиях, в больницах, в ветеринарных клиниках, на птицефабриках. Качественное сжигание топлива в крематоре для утилизации биологических отходов и биоотходов животных производится дизельными или газовыми горелками.
						